@model EyeMezzexz.Models.Shift

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ShiftId" />
    <div class="form-group">
        <label asp-for="ShiftName"></label>
        <input asp-for="ShiftName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FromTime"></label>
        <input asp-for="FromTime" type="time" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ToTime"></label>
        <input asp-for="ToTime" type="time" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
