@model MezzexEye.Models.PaginatedScreenCaptureDataViewModel

@{
    ViewData["Title"] = "Screen Capture Data";
    var today = DateTime.Today.ToString("yyyy-MM-dd");
}

<h1 class="mb-4 text-center">Screen Capture Data</h1>

<div class="mb-4 text-center">
    <form id="filterForm" method="get" class="d-flex justify-content-center align-items-center flex-wrap">
        <div class="me-2 mt-3">
            <label for="username" class="form-label me-2">Username:</label>
            <select id="username" name="username" class="form-select">
                <option value="">All</option>
                @foreach (var user in ViewBag.Usernames as List<string>)
                {
                    <option value="@user">@user</option>
                }
            </select>
        </div>

        <div class="me-2 mt-3">
            <label for="date" class="form-label me-2">Date:</label>
            <input type="date" id="date" name="date" class="form-control" value="@today">
        </div>

        <div class="me-2 mt-3">
            <label for="mediaType" class="form-label me-2">Media Type:</label>
            <select id="mediaType" name="mediaType" class="form-select">
                <option value="image" selected>Image</option>
                <option value="video">Video</option>
            </select>
        </div>

        <div class="me-2 mt-5">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </form>
</div>

<div id="screenCaptureData">
    @await Html.PartialAsync("_ScreenCaptureData", Model)
</div>

<!-- Image and Video Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <h5 class="modal-title me-3" id="imageModalLabel">Media</h5>
                    <div id="modalDetails" class="d-flex">
                        <p class="me-3"><strong>User:</strong> <span id="modalUsername"></span></p>
                        <p class="me-3"><strong>Created Time:</strong> <span id="modalTimestamp"></span></p>
                        <p><strong>Task Name:</strong> <span id="modalTaskName"></span></p>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center position-relative">
                <button type="button" class="btn btn-secondary position-absolute start-0 top-50 translate-middle-y" id="prevImage">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <img src="" alt="Full Screenshot" class="img-fluid" id="modalImage" style="display:none;">
                <video src="" class="img-fluid" id="modalVideo" controls style="display:none;"></video>
                <button type="button" class="btn btn-secondary position-absolute end-0 top-50 translate-middle-y" id="nextImage">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        attachPaginationEvents();
        attachModalEvents();
    });

    function attachPaginationEvents() {
        document.querySelectorAll('.pagination a[data-page]').forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                const page = this.getAttribute('data-page');
                loadPage(page);
            });
        });

        document.getElementById('prevPage').addEventListener('click', function (event) {
            event.preventDefault();
            const currentPage = parseInt(document.querySelector('.pagination .active a').getAttribute('data-page'));
            if (currentPage > 1) {
                loadPage(currentPage - 1);
            }
        });

        document.getElementById('nextPage').addEventListener('click', function (event) {
            event.preventDefault();
            const currentPage = parseInt(document.querySelector('.pagination .active a').getAttribute('data-page'));
            const totalPages = @Model.TotalPages;
            if (currentPage < totalPages) {
                loadPage(currentPage + 1);
            }
        });
    }

    function attachModalEvents() {
        var imageModal = document.getElementById('imageModal');
        var allMedia = [];
        var currentIndex = 0;

        function updateModalDetails(mediaUrl, mediaType) {
            var currentMediaElement = document.querySelector(`[data-bs-${mediaType.toLowerCase()}="${mediaUrl}"]`);
            var username = currentMediaElement.getAttribute('data-bs-username');
            var timestamp = currentMediaElement.getAttribute('data-bs-timestamp');
            var taskName = currentMediaElement.getAttribute('data-bs-taskname');

            var modalUsername = document.getElementById('modalUsername');
            var modalTimestamp = document.getElementById('modalTimestamp');
            var modalTaskName = document.getElementById('modalTaskName');

            modalUsername.textContent = username;
            modalTimestamp.textContent = timestamp;
            modalTaskName.textContent = taskName;
        }

        imageModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var mediaUrl = button.getAttribute('data-bs-img') || button.getAttribute('data-bs-video');
            var mediaType = button.getAttribute('data-bs-img') ? 'img' : 'video';
            currentIndex = 0;

            allMedia = Array.from(document.querySelectorAll(`[data-bs-${mediaType.toLowerCase()}]`)).map(media => media.getAttribute(`data-bs-${mediaType.toLowerCase()}`));

            var modalImage = imageModal.querySelector('#modalImage');
            var modalVideo = imageModal.querySelector('#modalVideo');

            if (mediaType === 'img') {
                modalImage.src = mediaUrl;
                modalImage.style.display = 'block';
                modalVideo.style.display = 'none';
            } else {
                modalVideo.src = mediaUrl;
                modalVideo.style.display = 'block';
                modalVideo.load();
                modalImage.style.display = 'none';
            }
            currentIndex = allMedia.indexOf(mediaUrl);

            updateModalDetails(mediaUrl, mediaType);
        });

        imageModal.addEventListener('hidden.bs.modal', function () {
            var modalImage = imageModal.querySelector('#modalImage');
            var modalVideo = imageModal.querySelector('#modalVideo');

            modalImage.src = '';
            modalVideo.pause();
            modalVideo.src = '';
        });

        document.getElementById('prevImage').addEventListener('click', function () {
            if (allMedia.length > 0) {
                currentIndex = (currentIndex - 1 + allMedia.length) % allMedia.length;
                var newMediaUrl = allMedia[currentIndex];
                var mediaType = document.querySelector(`[data-bs-img="${newMediaUrl}"]`) ? 'img' : 'video';
                var modalImage = document.getElementById('modalImage');
                var modalVideo = document.getElementById('modalVideo');

                if (mediaType === 'img') {
                    modalImage.src = newMediaUrl;
                    modalImage.style.display = 'block';
                    modalVideo.style.display = 'none';
                } else {
                    modalVideo.src = newMediaUrl;
                    modalVideo.style.display = 'block';
                    modalVideo.load();
                    modalImage.style.display = 'none';
                }
                updateModalDetails(newMediaUrl, mediaType);
            }
        });

        document.getElementById('nextImage').addEventListener('click', function () {
            if (allMedia.length > 0) {
                currentIndex = (currentIndex + 1) % allMedia.length;
                var newMediaUrl = allMedia[currentIndex];
                var mediaType = document.querySelector(`[data-bs-img="${newMediaUrl}"]`) ? 'img' : 'video';
                var modalImage = document.getElementById('modalImage');
                var modalVideo = document.getElementById('modalVideo');

                if (mediaType === 'img') {
                    modalImage.src = newMediaUrl;
                    modalImage.style.display = 'block';
                    modalVideo.style.display = 'none';
                } else {
                    modalVideo.src = newMediaUrl;
                    modalVideo.style.display = 'block';
                    modalVideo.load();
                    modalImage.style.display = 'none';
                }
                updateModalDetails(newMediaUrl, mediaType);
            }
        });
    }

    function loadPage(page) {
        const formData = new FormData(document.getElementById('filterForm'));
        formData.append('page', page);
        const queryString = new URLSearchParams(formData).toString();

        fetch(`/DataForView/ViewScreenCaptureData?${queryString}`, {
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
            .then(response => response.text())
            .then(html => {
                document.getElementById('screenCaptureData').innerHTML = html;
                attachPaginationEvents();
                attachModalEvents();
            })
            .catch(error => console.error('Error:', error));
    }

    document.getElementById('filterForm').addEventListener('submit', function (event) {
        event.preventDefault();
        loadPage(1);
    });
</script>

<style>
    .modal-lg {
        max-width: 90%;
    }

    #modalDetails p {
        margin: 0;
    }

    .modal-body {
        max-height: 80vh;
        overflow-y: auto;
    }

    .position-absolute {
        z-index: 2;
    }

    .btn-secondary {
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
    }

        .btn-secondary i {
            color: white;
        }

    #filterForm label {
        margin-bottom: 0;
    }

    #filterForm {
        gap: 1rem; /* Adds space between the form elements */
    }

        #filterForm .form-label {
            margin-bottom: 0.5rem;
        }

        #filterForm .form-select,
        #filterForm .form-control,
        #filterForm .btn {
            margin-bottom: 0;
        }

    #modalDetails p {
        margin: 0.5rem 0;
    }
</style>
